<footer class="b-footer">
        <div class="b-footer__main" itemscope itemtype="http://schema.org/LocalBusiness">
            <div class="b-footer__column js-animate" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" data-animate="fade-in-left">
                <span class="b-footer__title">Our office in Ukraine:</span>
                <p><span itemprop="postalCode">04073</span> <span itemprop="addressLocality">Kyiv</span> <span itemprop="streetAddress">Mosckovskiy av. 9</span></p>
                <p>(Business Center "Forum Park Plaza"</p>
                <p>Unit 4B, office 5-102)</p>
                <meta itemprop="addressCountry" content="Ukraine">
            </div>
            <div class="b-footer__column js-animate" data-animate="fade-in-up">
                <span class="b-footer__title g-text-center">Social networks:</span>
                <ul class="f-social">
                    <li class="f-social__item">
                        <a href="#" target="_blank" rel="nofollow" class="f-social__link">
                            <i class="icon-facebook"></i>
                        </a>
                    </li>
                    <li class="f-social__item">
                        <a href="#" target="_blank" rel="nofollow" class="f-social__link">
                            <i class="icon-twitter"></i>
                        </a>
                    </li>
                    <li class="f-social__item">
                        <a href="#" target="_blank" rel="nofollow" class="f-social__link">
                            <i class="icon-google-plus"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="b-footer__column js-animate" data-animate="fade-in-right">
                <div class="b-footer__right">
                    <span class="b-footer__title">Connect with us:</span>
                    <meta itemprop="name" content="Digital Force">
                    <meta itemprop="description" content="Web-studio">
                    <p>
                        <a href="tel:+380443535363" class="b-footer__link">
                            <span itemprop="telephone">+38 044 353-53-63</span>
                        </a>
                    </p>
                    <p>
                        <a href="tel:+380679115549" class="b-footer__link">
                            <span itemprop="telephone">+38 067 911-55-49</span>
                        </a>
                    </p>
                    <p>
                        <a href="mailto:info@digitalforce.ua" class="b-footer__link">
                            <span itemprop="email">info@digitalforce.ua</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="b-footer__sole">
            © 2016 Digital Force
        </div>
    </footer>
    <!--/FOOTER-->

    <!--scripts-->
    <script src="js/vendor/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/app.min.js"></script>
    <!--/scripts-->
