<header class="b-header">
        <nav class="g-container">
            <a href="#about" class="b-header__logo">Digital Force</a>
            <button type="button" class="b-header__btn b-header__btn--order">Leave request</button>
            <button type="button" class="b-header__btn b-header__btn--menu js-mmenu-toggle">
                <i class="icon-menu"></i>
            </button>
            <ul class="h-menu">
                <li class="h-menu__item">
                    <a href="#about" class="h-menu__link">About Us</a>
                </li>
                <li class="h-menu__item">
                    <a href="#services" class="h-menu__link">Services</a>
                </li>
                <li class="h-menu__item">
                    <a href="#portfolio" class="h-menu__link">Portfolio</a>
                </li>
                <li class="h-menu__item">
                    <a href="#team" class="h-menu__link">Team</a>
                </li>
                <li class="h-menu__item">
                    <a href="#contacts" class="h-menu__link">Contacts</a>
                </li>
                <li class="h-menu__item">
                    <span class="h-lang h-lang--current">Eng</span><a href="#" hreflang="ru" class="h-lang h-lang--link">&nbsp;/&nbsp;Rus</a>
                </li>
            </ul>
        </nav>
    </header>