<nav class="page__panel js-mmenu">
            <ul class="m-menu">
                <li class="m-menu__item">
                    <label class="m-menu__label">Menu</label>
                </li>
                <li class="m-menu__item">
                    <a href="#about" class="m-menu__link">About Us</a>
                </li>
                <li class="m-menu__item">
                    <a href="#services" class="m-menu__link">Services</a>
                </li>
                <li class="m-menu__item">
                    <a href="#portfolio" class="m-menu__link">Portfolio</a>
                </li>
                <li class="m-menu__item">
                    <a href="#team" class="m-menu__link">Team</a>
                </li>
                <li class="m-menu__item">
                    <a href="#contacts" class="m-menu__link">Contacts</a>
                </li>
                <li class="m-menu__item">
                    <span class="m-lang m-lang--current">Eng</span><a href="#" hreflang="ru" class="m-lang m-lang--link">&nbsp;/&nbsp;Rus</a>
                </li>
            </ul>
        </nav>
        <!--/Mobile Menu-->