<div class="b-modal" id="request">
            <div class="b-modal__content">
                <form class="b-contact" id="request_form">
                    <h5 class="g-subtitle">Leave request</h5>
                    <div class="g-row">
                        <div class="g-col g-col--one-half">
                            <fieldset class="g-fieldset">
                                <label class="g-visuallyhidden">Your Name</label>
                                <input type="text" class="g-input js-validate" placeholder="Your Name *" required data-validate="required" />
                                <span class="g-fieldset__msg">Please fill this field!</span>
                            </fieldset>
                        </div>
                        <div class="g-col g-col--one-half">
                            <fieldset class="g-fieldset">
                                <label class="g-visuallyhidden">Email</label>
                                <input type="text" class="g-input js-validate" placeholder="Email *" required data-validate="email" />
                                <span class="g-fieldset__msg">Please enter correct email!</span>
                            </fieldset>
                        </div>
                    </div>
                    <div class="g-fieldset">
                        <fieldset class="g-fieldset">
                            <label class="g-visuallyhidden">Message</label>
                            <textarea class="g-textarea js-validate" placeholder="Message *" required data-validate="required"></textarea>
                            <span class="g-fieldset__msg">Please fill this field!</span>
                        </fieldset>
                    </div>
                    <button type="submit" class="b-contact__btn">Send message</button>
                    <span class="b-contact__msg">We will contact you shortly</span>
                </form>
            </div>
            <button type="button" class="b-modal__close"><i class="icon-close"></i></button>
        </div>

        <div class="b-modal" id="thanks">
            <div class="b-modal__content">
                <p>&nbsp;</p>
                <h6 class="g-subtitle g-text-center">
                    Thanks, Your message has been send.
                </h6>
                <button type="button" class="b-modal__close"><i class="icon-close"></i></button>
            </div>
        </div>
        <!--/modals-->