<section class="page__section page__section--alt js-section" id="portfolio">
            <div class="g-container">
                <h2 class="g-title">Portfolio</h2>
                <p class="g-text-center">
                    We create for our customers cutting-edge sites that immediately become leaders in their field.
                </p>
                <ul class="b-folio">
                    <li class="b-folio__item js-animate" data-animate="fade-in-left">
                        <a href="#" class="b-folio__link">
                            <figure class="b-folio__inner">
                                <div class="b-folio__thumb">
                                    <img src="img/loader.gif" data-img="img/project.png" class="b-folio__img js-lazy-img" alt="" />
                                    <noscript>
                                        <img src="img/project.png" class="b-folio__img" alt="" />
                                    </noscript>
                                </div>
                                <figcaption class="b-folio__entry">
                                    <div class="b-folio__caption">
                                        <span class="b-folio__title">Alyaska</span>
                                        Water delivery company
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <li class="b-folio__item js-animate" data-animate="fade-in-right">
                        <a href="#" class="b-folio__link">
                            <figure class="b-folio__inner">
                                <div class="b-folio__thumb">
                                    <img src="img/loader.gif" data-img="img/project.png" class="b-folio__img js-lazy-img" alt="" />
                                    <noscript>
                                        <img src="img/project.png" class="b-folio__img" alt="" />
                                    </noscript>
                                </div>
                                <figcaption class="b-folio__entry">
                                    <div class="b-folio__caption">
                                        <span class="b-folio__title">Alyaska</span>
                                        Water delivery company
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <li class="b-folio__item js-animate" data-animate="fade-in-left">
                        <a href="#" class="b-folio__link">
                            <figure class="b-folio__inner">
                                <div class="b-folio__thumb">
                                    <img src="img/loader.gif" data-img="img/project.png" class="b-folio__img js-lazy-img" alt="" />
                                    <noscript>
                                        <img src="img/project.png" class="b-folio__img" alt="" />
                                    </noscript>
                                </div>
                                <figcaption class="b-folio__entry">
                                    <div class="b-folio__caption">
                                        <span class="b-folio__title">Alyaska</span>
                                        Water delivery company
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                    <li class="b-folio__item js-animate" data-animate="fade-in-right">
                        <a href="#" class="b-folio__link">
                            <figure class="b-folio__inner">
                                <div class="b-folio__thumb">
                                    <img src="img/loader.gif" data-img="img/project.png" class="b-folio__img js-lazy-img" alt="" />
                                    <noscript>
                                        <img src="img/project.png" class="b-folio__img" alt="" />
                                    </noscript>
                                </div>
                                <figcaption class="b-folio__entry">
                                    <div class="b-folio__caption">
                                        <span class="b-folio__title">Alyaska</span>
                                        Water delivery company
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                    </li>
                </ul>
                <p class="g-text-center">
                    <button type="button" class="btn-more">
                        <span class="btn-more__caption">Load more</span>
                        <span class="btn-more__arrow">
                            <i class="icon-down"></i>
                        </span>
                    </button>
                </p>
            </div>
        </section>
        <!--/Portfolio-->