@import "../../modules/_base.scss";
/*Hero slider*/
.b-hero{
    height:100vh;
    min-height:450px;
    max-height:933px;
    background-color:#0f0c0b;
    position:relative;
    overflow:hidden;
    color:#fff;
}

.b-hero__inner{
    position:absolute;
    top:0; left:0; right:0; bottom:0;
    background-image:url(../img/hero-xs.jpg);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;

    &:after{//маска
        content:'';
        position:absolute;
        top:0; left:0;
        width:100%;
        height:100%;
        background:rgba(#0f0c0b, .75);
    }
}

.b-hero__container{
    @extend .g-container;
    height:100%;
    padding-top:60px;
    padding-bottom:60px;
    overflow:hidden;
    position:relative;
    z-index:1; //поверх маски
}

.b-hero__list{
    @extend .g-clearlist;
    @extend .g-clearfix;
    height:100%;
}
.b-hero__item{
    @extend .g-column;
    height:100% !important;
}

.b-hero__wrapper{
    margin:0;
    display:flex;
    height:100%;
    align-items:center;
}
.b-hero__content{
    width:100%;
    position:relative;
    line-height:1.2;
    font-size:rem(14px);
    position:relative;

    .btn-more__caption{
        color:#fff;
        border-bottom-color:#fff;
    }
}

.no-flexbox{
    .b-hero__wrapper{
        display:table;
        width:100%;
        table-layout:fixed;
    }

    .b-hero__content{
        display:table-cell;
        vertical-align:middle;
    }
}

.b-hero__title{
    display:block;
    color:#fff;
    margin-bottom:0;
    font-size:rem(18px);
}

.b-hero__more{//скрытый текст
    position:absolute;
    top:100%; left:0;
    width:100%;
    font-size:rem(14px);
    backface-visibility:hidden;
    visibility:hidden;

    p{
        margin:10px 0;
    }
}

@include media($mobile){
    .b-hero__title{
        font-size:rem(20px);
    }
    .b-hero__content{
        font-size:rem(15px);
    }
}

@include media($small){
    .b-hero__title{
        font-size:rem(24px);
    }
    .b-hero__content{
        font-size:rem(17px);
    }
}

@include media($tablet){
    .b-hero__inner{
        background-image:url(../img/hero-md.jpg);
    }
    .b-hero__title{
        font-size:rem(32px);
    }
    .b-hero__content{
        font-size:rem(20px);
    }
    .b-hero__more{
        font-size:rem(16px);
    }
}

@include media($desktop){
    .b-hero__container{
        padding-top:90px;
        padding-bottom:90px;
    }
    .b-hero__title{
        font-size:rem(50px);
    }
    .b-hero__content{
        font-size:rem(32px);
    }
}

@include media($large){
    .b-hero__inner{
        background-image:url(../img/hero-xl.jpg);
    }
    .b-hero__title{
        font-size:rem(60px);
    }
    .b-hero__content{
        font-size:rem(36px);
    }
    .b-hero__more{
        width:75%;
        font-size:rem(18px);
    }
}

@include media($extra-large){
    .b-hero__container{
        padding-top:110px;
        padding-bottom:110px;
    }
}