@import "../../modules/_base.scss";

/*Site Logo*/
.b-header__logo{
    float:left;
    width:104px;
    height:36px;

    @include media($desktop){
        width:164px;
        height:57px;
    }
}

.b-header__img{//svg
    width:100%;
    height:auto;

    .lgw, .lgg{
        @extend .g-transition;
        transition-property:fill;
    }

    .lgw {
        fill: $text-color;
    }

    .lgg {
        fill: $primary;
    }

    @include media($desktop){
        .lgw{
            fill:#fff;

            .scrolled &{
                fill:$text-color;
            }
        }
    }
}
