@import "../modules/base";

/*Site Header*/
.page{
    padding-top:46px;
}
.b-header{
    padding:5px 0;
    width:100%;
    position:fixed;
    top:0; left:0;
    background:#fff;
    z-index:1000;
    box-shadow:0 2px 4px rgba(#000, .2);
    @extend .g-transition;
    transition-property:background, box-shadow, padding;
    backface-visibility:hidden;
}

@include media($desktop){
    .page{
        padding-top:0;
    }
    .b-header{
        padding:15px 0;
        background:none;
        box-shadow:none;

        &.scrolled{
            background:#fff;
            box-shadow:0 2px 4px rgba(#000, .2);
            padding:8px 0 !important;
        }
    }
}

@include media($extra-large){
    .b-header{
        padding:30px 0;
    }
}

//header parts
@import "header/_logo.scss";
@import "header/_header-buttons.scss";
