@import "base";
/* Buttons */
.g-btn,
.g-clearbutton{
    display:inline-block;
    vertical-align:middle;
    cursor: pointer;
    box-sizing: border-box;
    outline:0;
    text-align: center;
    text-decoration: none !important;
    white-space: nowrap;

    &:active{
        transform:translateY(2px);
    }
}

.g-clearbutton{
    border:none;
    background:none;
    padding:0;
}

.g-btn{
    height:54px;
    line-height:54px;
    padding:0 15px;
    color:$primary;
    font-size:rem(17px);
    box-shadow: inset 0 0 2px 1px $primary;
    border-radius:3px;

    &:hover,
    &:active{
        color:#fff;
        background:$primary;
        box-shadow:0 1px 2px 4px rgba(#000, .15);
    }

    &:disabled{
        background:grey;
        box-shadow:none;
        transform:none;
    }

    @include media($desktop){
        height:58px;
        line-height:58px;
        padding:0 75px;
        border-radius:58px;
    }
}

/*Load more button*/
.btn-more{
    @extend .g-clearbutton;
    padding-right:34px;
    height:23px;
    line-height:30px;
    font-size:0;
    position:relative;

    &:hover,
    &:active,
    &:focus{
        .btn-more__caption{
            color:$primary;
            border-bottom-color:$primary;
        }
    }
}
.btn-more__caption{
    display:inline-block;
    line-height:1.1;
    font-size:rem(15px);
    border-bottom:1px dotted $text-color;
    @extend .g-transition;
    transition-property:color, border-color;

    @include media($small){
        font-size:rem(18px);
        border-bottom-width:2px;
    }
}
.btn-more__arrow{
    display:block;
    @include size(23px);
    position:absolute;
    top:0; right:0;
    line-height:23px;
    text-align:center;
    font-size:rem(10px);
    color:$primary;
    box-shadow:inset 0 0 1px 1px $primary;
    border-radius:50%;
}



